{% if page.title %}
  {% assign long_title  = page.title | append: ' - ' | append: site.title %}
  {% assign short_title = page.title %}
{% else %}
  {% assign long_title  = site.title %}
  {% assign short_title = site.title %}
{% endif %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{ long_title }}</title>
    <meta name="description" content="{{ site.description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ short_title }}" />
	<meta property="og:description" content="{{ site.description }}" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
</head>
